body {
    text-align: center;
    flex-grow: 1;
    background-color: lightgray
}

div.body {
    margin: 20px;
}

img {
    max-width: 100%;
}

.paper {
    padding: 15px;
}

.menu-button {
    margin-right: 20px;
}

.user-control {
    margin-left: auto;
}